.body-atualizar{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding-top: 50px;
}

.container-atualizar{
    display: flex;
    flex-direction: column;
    text-align: left;

    width: 600px;
    height: 500px;
}

.title-atualizar{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
}

.etiqueta-input-atualizar{
    margin-top: 20px;
    margin-left: 12px;
}