body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo{
  font-size: 1.5m;
  font-weight: bold;
  color: #000000;
}

.subtitulo{
  font-size: 18pt;
  font-weight: bold;
  color: #000000;
}

.card{
  
  display:inline-block;
  width: 300px;
  background-color: #fff;
  border-color: darkorange;
  border-radius: 40px;
  padding: 16px;
  margin: 3px;

}
